// colors based on Solarized Dark
// http://ethanschoonover.com/solarized
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$fontFam : Consolas, monaco, monospace, 'Courier New';
$fontSize : 13px;
$width : 500px;
$height : 80px;

.dubterm-container {
  position: fixed;
  left: 0;
  bottom: 56px;
  bottom: 3.6rem;
  z-index: 18;
  width: $width;
  display: flex;
  flex-direction: row;
  color:$base0;
  transition: transform 0.3s;
  transform: translate(-($width - 40px), 0);
  height: $height;
}

.dubterm-open {
  transform: translate(0, 0);
}

.dubterm-toggle {
  width: 50px;
  height: ( $height / 2 );
  border: none;
  background-color: #000;
  cursor: pointer;
  align-self: flex-end;
}


.dubterm-main {
  flex: 1 0 auto;
  background-color: $base03;
  font-family: $fontFam;
  font-size: $fontSize;
}

.dubterm-results {
  min-height: 12px;
  padding: 11px 18px;
  background-color: $base02;
  height: ( $height / 2 );
  overflow: hidden;
  overflow-y: auto;
  border-top: 1px solid $base1;
  border-right: 1px solid $base1;
  border-bottom: 1px solid $base1;

  p {
    margin: 0;
  }
}

.dubterm-results__error {
  color: $red;
}
.dubterm-results__success {
  color: $cyan;
} 

/* The input container */
.dubterm-input-c {
  position: relative;
  width: 100%;
  height: ( $height / 2 );
}

.dubterm-input-c span {
  position: absolute;
  width: 10px;
  left: 10px;
  top: 10px;
  display: block;
  height: 100%;
}
.dubterm-input-c input {
  border: none;
  width: 100%;
  height: 100%;
  background-color: black;
  color: #ccc;
  font-family: $fontFam;
  font-size: $fontSize;
  padding: 0 0 0 20px;
}